<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar</title>
</head>
<body>
<h1> Editar</h1>
<form th:object="${member}" th:action="@{/update-member/{id}(id=${member.id})}" method="post">
    <input type="text" placeholder="Digite o novo nome" name="name">
    <input type="hidden" th:value="${teamId}" name="team"/>
    <button type="submit">Enviar</button>
</form>

</body>
</html>